* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(45deg, #24d74d, #be21a7);
}
h1 {
    padding-top: 50px;
    color: #22c1c3;
}

.inputValue,.search-btn {
    padding: 10px;
    margin-top: 20px;
    background-color: #edf2f5;
    outline-style: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button.search-btn {
    background-color: #6c63ff;
    color: #fff;
}

.search-btn:hover {
    background-color: #483dff;
}

.container {
    width: 350px;
    padding: 20px 0 40px 0;
    border-radius: 6%;
    background-color: #3b44f6a8;
    margin: 50px auto;
}

.container p {
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
}

.container p:hover {
    opacity: 0.8;
    cursor: default;
}

